<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <#if INCLUDED_HEAD?exists><#include INCLUDED_HEAD></#if>
	<#if INCLUDED_HEAD_INSERT_FORM?exists><#include INCLUDED_HEAD_INSERT_FORM></#if>
    
	<script type="text/javascript">
		$(function(){
			
			$("#TIPO_CONFIGURAZIONE_GUIDATA").trigger("loadDataSet",["DSTipoConfigurazioneGuidata","CODICE","DESCRIZIONE","<#if TIPO_CONFIGURAZIONE_GUIDATA?exists>${TIPO_CONFIGURAZIONE_GUIDATA}</#if>"," WHERE 1=1 "]);
			
			$("#Inserimento").validate();
			
			$( "#next" ).click(function() {
				
				if (!$("#Inserimento").valid()) {
					return false;
				}
				tipoConfigurazioneGuidata=$("#TIPO_CONFIGURAZIONE_GUIDATA").val();
				
				if (tipoConfigurazioneGuidata=='000'){
					window.location.href = "astro?FUNCTIONID=ConfigurazioneGuidata0";
				}else{
					window.location.href = "astro?FUNCTIONID=ConfigurazioneGuidata1";
				}

				
        	});
			
		});		
		
		
    </script> 
    
</head>

<body>

     <div id="wrapper">

    	<#if INCLUDED_MENU?exists><#include INCLUDED_MENU></#if>

        <div id="page-wrapper" class="gray-bg">
		
        	<#if INCLUDED_HEADER?exists><#include INCLUDED_HEADER></#if>
        	
			<div class="row border-bottom">
	        	<div class="ibox-title titolo">
	           	    <#if INCLUDED_BOX_TITLE?exists><#include INCLUDED_BOX_TITLE></#if>
	           	</div>
		    </div>
        	
			<div class="row wrapper border-bottom page-heading">
            	
            		<div class="col-lg-12">

	                	<div class="ibox float-e-margins">
	                   
		            	<#if INCLUDED_BOX_CREDITI?exists><#include INCLUDED_BOX_CREDITI></#if>
			            <div class="ibox-content">
			            	<form action="astro" method="post" id="Inserimento"  class="form-horizontal">
			            	
			            		<input type="hidden" id="FUNCTIONID" name="FUNCTIONID" value="InserimentoAnagraficaAntenne" />
								<input type="hidden" id="OPERATION_TYPE" name="OPERATION_TYPE">
								<input type="hidden" id="ID_MODULO" name="ID_MODULO">								
								
			                	<div class="row">
									<div class="form-group"><label class="col-sm-2 control-label">Tipo configurazione guidata</label>
	                                    <div class="col-sm-4">
											<select id="TIPO_CONFIGURAZIONE_GUIDATA" name="TIPO_CONFIGURAZIONE_GUIDATA" class="form-control" required>
											</select>
	                                    </div>
	                                </div>
                                </div>
                                
                                
                               
                                
                                
                              			  
                                <div class="hr-line-dashed"></div>
								
								<#if VALIDITA_CREDITI?exists && VALIDITA_CREDITI?contains('false')><#else>
	                                <div class="form-group">
	                                    <div class="col-sm-1">
	                                        <button class="btn btn-primary btn-sm" id="next" type="button">Inizia</button>
	                                    </div>
	                                </div>
								</#if>
							
		                          
				            </form> 							
			                
				                   
	                       			
		                </div>   <!-- chiude box content -->
            		</div>       <!-- chiude ibox float-e-margins -->     
	            </div>	<!-- col-lg-12 -->
            </div>	<!-- chiude row -->
            
            
        
        
        
        	<#if INCLUDED_FOOTER?exists><#include INCLUDED_FOOTER></#if>
        	
        </div>
	</div>


</body>

</html>
