<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <#if INCLUDED_HEAD?exists><#include INCLUDED_HEAD></#if>
	<#if INCLUDED_HEAD_INSERT_FORM?exists><#include INCLUDED_HEAD_INSERT_FORM></#if>
	<link href="css/plugins/dropzone/basic.css" rel="stylesheet">
    <link href="css/plugins/dropzone/dropzone.css" rel="stylesheet">
    
	<script type="text/javascript">
		$(function(){
			
			$("#OPERATION_TYPE").val("<#if OPERATION_TYPE?exists>${OPERATION_TYPE}</#if>");
			
			$("#ID_CONDOMINIO").trigger("loadDataSet",["DataSetCondomini","ID_MODULO","DENOMINAZIONE","<#if ID_CONDOMINIO?exists>${ID_CONDOMINIO}</#if>"," WHERE 1=1 "]);
			
			$("#ID_CATEGORIA").trigger("loadDataSet",["DSCategoriaDocumenti","CODICE","DESCRIZIONE","<#if ID_CATEGORIA?exists>${ID_CATEGORIA}</#if>"," WHERE 1=1 "]);
			
			$("#GG_SEGNALAZIONE").trigger("loadDataSet",["DSGiorniIntervallo","CODICE","DESCRIZIONE","<#if GG_SEGNALAZIONE?exists>${GG_SEGNALAZIONE}</#if>"," WHERE 1=1 "]);
			
			$("#Inserimento").validate();
			
			$("#Inserimento").submit(function(event) {
				
				/* stop form from submitting normally */
				event.preventDefault();			
				
				
				if (id!='') {
					$("#OPERATION_TYPE").val("UPDATE");
				} else {
					$("#OPERATION_TYPE").val("INSERT");
				}

				/* Send the data using post */
				$.post( $( this ).attr( 'action' ), $(this).serialize(),function( response ) { 
					var result = eval('('+response+')');
					if (result.result) {
						$("#ID_MODULO").val(result.id);
						$( ".alert-success" ).text( result.message ).fadeIn( "slow").delay( 1500 ).fadeOut("slow" );
					} else {
						$( ".alert-danger" ).text( result.message ).fadeIn( "slow").delay( 1500 ).fadeOut("slow" );
					}
				});

			});			
		});		
		
		
    </script> 
    
</head>

<body>

     <div id="wrapper">

    	<#if INCLUDED_MENU?exists><#include INCLUDED_MENU></#if>

        <div id="page-wrapper" class="gray-bg">
		
        	<#if INCLUDED_HEADER?exists><#include INCLUDED_HEADER></#if>
        	
			<div class="row border-bottom">
	        	<div class="ibox-title titolo">
	           	    <#if INCLUDED_BOX_TITLE?exists><#include INCLUDED_BOX_TITLE></#if>
	           	</div>
		    </div>
        	
			<div class="row wrapper border-bottom page-heading">
            	
            		<div class="col-lg-12">

	                	<div class="ibox float-e-margins">
	                    
						<#if INCLUDED_BOX_CREDITI?exists><#include INCLUDED_BOX_CREDITI></#if>
			            <div class="ibox-content">
			            							
        					<form id="my-awesome-dropzone" class="dropzone" name="filesForm" method="post" action="astro?FUNCTIONID=FileUploadFileManager" enctype="multipart/form-data">
			            		<div class="row">
									<div class="form-group"><label class="col-sm-2 control-label">Condominio</label>
	                                    <div class="col-sm-4">
											<select id="ID_CONDOMINIO" name="ID_CONDOMINIO" class="form-control" required>
											</select>
	                                    </div>
	                                </div>
                                </div>
                                <br/>
                                <div class="row">
									<div class="form-group"><label class="col-sm-2 control-label">Categoria</label>
	                                    <div class="col-sm-4">
											<select id="ID_CATEGORIA" name="ID_CATEGORIA" class="form-control" required>
											</select>
	                                    </div>
	                                </div>
                                </div>
                                <br/>
                                <div class="row">
									<div class="form-group">
										<label class="col-sm-2 control-label">Data prima segnalazione</label>
										<div class="col-sm-2">
											<div class="input-group date">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" name="DATA_PRIMA_SEGNALAZIONE" id="DATA_PRIMA_SEGNALAZIONE" value="<#if DATA_PRIMA_SEGNALAZIONE?exists>${DATA_PRIMA_SEGNALAZIONE}</#if>">
											</div>
										</div>
										
										<label class="col-sm-2 control-label">Intervallo segnalazione (gg)</label>
										<div class="col-sm-2">
											<select id="GG_SEGNALAZIONE" name="GG_SEGNALAZIONE" class="form-control">
											</select>
										</div>
									</div>
								</div>
								</br>
								
			                	<div class="row">
				                	<div class="col-lg-12">
					                	<div class="ibox float-e-margins">
							                <div class="ibox-content">
							                    
							                        <div class="dropzone-previews"></div>
							                        <#if VALIDITA_CREDITI?exists && VALIDITA_CREDITI?contains('false')><#else>
							                        	<button type="submit" class="btn btn-primary pull-right">Carica</button>
							                    	</#if>
							                    <div>
							                        <div class="m text-right">Selezionare il file da caricare</div>
							                    </div>
							                </div>
				           				</div>
						            </div>
					            </div>
                                
                            </form>
                          			  
                            <div class="hr-line-dashed"></div>
				
                             
				                   
	                       			
		                </div>   <!-- chiude box content -->
            		</div>       <!-- chiude ibox float-e-margins -->     
	            </div>	<!-- col-lg-12 -->
            </div>	<!-- chiude row -->
            
            
        
        
        
        	<#if INCLUDED_FOOTER?exists><#include INCLUDED_FOOTER></#if>
        	
        </div>
	</div>
	
	    <!-- DROPZONE -->
    <script src="js/plugins/dropzone/dropzone.js"></script>


    <script>
        $(document).ready(function(){

            Dropzone.options.myAwesomeDropzone = {

                autoProcessQueue: false,
                uploadMultiple: true,
                parallelUploads: 100,
                
                

                // Dropzone settings
                init: function() {
                    var myDropzone = this;
					this.hiddenFileInput.removeAttribute('multiple');
                    this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
                    	
                        e.preventDefault();
                        e.stopPropagation();
                        myDropzone.processQueue();
                    });
                    this.on("sendingmultiple", function() {
                    	
                    });
                    this.on("successmultiple", function(files, response) {
	                    window.location.href = "astro?FUNCTIONID=FileManager";
                    });
                    this.on("errormultiple", function(files, response) {
                    	
                    });
                }

            }

       });
    </script>


</body>

</html>
