<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	
	<#if INCLUDED_HEAD?exists><#include INCLUDED_HEAD></#if>
	<#if INCLUDED_HEAD_INSERT_FORM?exists><#include INCLUDED_HEAD_INSERT_FORM></#if>
		
    <script type="text/javascript">
	
		$(function(){

			$("#ID_AZIENDA").trigger("loadDataSet",["DataSetAziende","ID_AZIENDA","RAGSOC","<#if ID_AZIENDA?exists>${ID_AZIENDA}</#if>"," WHERE 1=1 "]);
			$("#ID_DISTRIBUTION_LIST").val("<#if ID_DISTRIBUTION_LIST?exists>${ID_DISTRIBUTION_LIST}</#if>");
			$("#MODULO").val("<#if MODULO?exists>${MODULO}</#if>");
			$("#ID_AZIENDA").trigger("loadDataSet",["DSSitiQHSE","ID_AZIENDA","RAGSOC","<#if ID_AZIENDA?exists>${ID_AZIENDA}</#if>"," WHERE 1=1 "]);
			$("#LISTA_MAIL").val("<#if LISTA_MAIL?exists>${LISTA_MAIL}</#if>");

			$("#formInserimento").validate();

			$("#formInserimento").submit(function(event) {
				/* stop form from submitting normally */
				event.preventDefault();			

				if (!$("#formInserimento").valid()) {
					return false;
				}
				
				Swal.fire({
				    title: 'Salvataggio in corso...',
				    text: 'Attendere il completamento dell’elaborazione.',
				    icon: 'info',
				    allowOutsideClick: false,
				    allowEscapeKey: false,
				    showConfirmButton: false,
				    allowOutsideClick: false,   //  disabilita clic fuori dal popup
				    allowEscapeKey: false,  	// disabilita tasto ESC
				    didOpen: () => {
				        Swal.showLoading();
				    },
				    customClass: {
				        popup: 'swal-wide'
				    }
				});
				
				
				/* Send the data using post */
				$.post( $( this ).attr( 'action' ), $(this).serialize(),function( response ) { 
					document.getElementById("salva").style.display="block";
					
					if (response==null || response==''){
						Swal.close();
						Swal.fire({
						    title: 'Salvataggio non riuscito!',
						    text: 'Si è verificato un errore, salvataggio non riuscito.',
						    icon: 'error',
						    showConfirmButton: false,   // Nasconde il bottone "OK"
						    timer: 2000,                // Chiude dopo 3 secondi (3000 ms)
						    timerProgressBar: false,     // Mostra barra di avanzamento
						    allowOutsideClick: false,   //  disabilita clic fuori dal popup
						    allowEscapeKey: false,  	// disabilita tasto ESC
						    customClass: {
						        popup: 'swal-wide'      // Applica classe CSS personalizzata per ingrandire
						    }
						});
					}else{
						var result = eval('('+response+')');
						if (result.result) {
							$("#ID_MODULO").val(result.id);
							Swal.close();
							Swal.fire({
							    title: 'Salvataggio completato!',
							    text: 'Salvataggio effettuato con successo.',
							    icon: 'success',
							    showConfirmButton: false,   // Nasconde il bottone "OK"
							    timer: 2000,                // Chiude dopo 3 secondi (3000 ms)
							    timerProgressBar: false,     // Mostra barra di avanzamento
							    allowOutsideClick: false,   //  disabilita clic fuori dal popup
							    allowEscapeKey: false,  	// disabilita tasto ESC
							    customClass: {
							        popup: 'swal-wide'      // Applica classe CSS personalizzata per ingrandire
							    }
							});
							
						} 
					}
				});

			});

		});
		
    </script> 

</head>

<body>

	<div id="wrapper">

		<#if INCLUDED_MENU?exists><#include INCLUDED_MENU></#if>

		<div id="page-wrapper" class="gray-bg">
		
			<#if INCLUDED_HEADER?exists><#include INCLUDED_HEADER></#if>

			<div class="row border-bottom">
	        	<div class="ibox-title titolo">
	           	    <#if INCLUDED_BOX_TITLE?exists><#include INCLUDED_BOX_TITLE></#if>
	           	</div>
		    </div>
        	
			<div class="row wrapper border-bottom page-heading">
                <div class="col-sm-12">
				
                    <div class="ibox float-e-margins">
					
						<#if INCLUDED_BOX_CREDITI?exists><#include INCLUDED_BOX_CREDITI></#if>
						<!-- contenuto form-->
                        <div class="ibox-content">

							<form action="astro" class="form-horizontal" method="post" id="formInserimento" name="formInserimento">
								
								<input type="hidden" id="FUNCTIONID" name="FUNCTIONID" value="InserimentoDistributionList">
								<input type="hidden" id="OPERATION_TYPE" name="OPERATION_TYPE" value="<#if OPERATION_TYPE?exists>${OPERATION_TYPE}</#if>">
								<input type="hidden" id="ID_DISTRIBUTION_LIST" name="ID_DISTRIBUTION_LIST">
								
                                <div class="form-group"><label class="col-sm-2 control-label-left">Modulo</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" name="MODULO" id="MODULO" required></div>
                                </div>
										
										
																
                                <div class="form-group"><label class="col-sm-2 control-label-left">Azienda</label>
	                                    <div class="col-sm-10">
											<select id="ID_AZIENDA" name="ID_AZIENDA" class="form-control" required>
											</select>
										<!--  	<input type="checkbox" id="CHECKBOX_LISTA_AZIENDE">${label_select_all}  -->
	                                    </div>
	                                </div>
									
									
									
                                <div class="form-group"><label class="col-sm-2 control-label-left">Lista mail</label>
                                    <div class="col-sm-10"><textarea class="form-control" id="LISTA_MAIL" name="LISTA_MAIL" rows="5" required></textarea></div>
                                </div>
								
                                <div class="hr-line-dashed"></div>
								
								<#if VALIDITA_CREDITI?exists && VALIDITA_CREDITI?contains('false')><#else>
	                                <div class="form-group">
	                                    <div class="col-sm-4 col-sm-offset-2">
	                                        <button class="btn btn-primary btn-sm" id="salva" type="submit">${label_save}</button>
	                                    </div>
	                                </div>
								</#if>
								
                            </form>

                        </div>
						
                    </div>
                </div>
            </div>
			
			<#if INCLUDED_FOOTER?exists><#include INCLUDED_FOOTER></#if>
		
		</div>

	</div>
	
		

</body>

</html>
