<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <#if INCLUDED_HEAD?exists><#include INCLUDED_HEAD></#if>
	<#if INCLUDED_HEAD_INSERT_FORM?exists><#include INCLUDED_HEAD_INSERT_FORM></#if>
    
	<script type="text/javascript">
	
		$(function(){
			
			var profilo="<#if PROFILO?exists>${PROFILO}</#if>";
			var utente="<#if ID_UTENTE?exists>${ID_UTENTE}</#if>";
			
			if (profilo.indexOf("ADM")!=-1) {
	    		$("#li-tab-2").show();
	    	}
			
	      	var usernameTxt="USERNAME";
	      	var nomeTxt="NOME_UTENTE";
	      	var cognomeTxt="COGNOME_UTENTE";
	      	var mail = "EMAIL";
	      	var profilo = "DESCRIZIONE_PROFILO";
	      	var scadenza = "DT_SCADENZA";
	      	var creditiAcquistati = "CREDITI_ACQUISTATI";
	      	var creditiUtilizzati = "CREDITI_UTILIZZATI";
	      	var dataScadenzaCrediti = "DATA_SCADENZA_CREDITI";
	      	
	      	var idUtenteIns = "ID_UTENTE_INS";
	      	var tsIns ="TS_INS";
	      	var flDisattivo ="FL_DISATTIVO";
	      	var provincia ="PROVINCIA";
	      	var cap ="CAP";
	      	var codFisc ="CODFISC";
	      	var telefono ="TELEFONO";
	      	var indirizzo ="INDIRIZZO";
	      	var localita ="LOCALITA";
	      	
	      	
	      	var whereCondition=" where id_utente ="+utente;
	      	var whereCondition1=" where usr.id_utente ="+utente;
	      	
	      	
			
			$("#ID_UTENTE").val(<#if ID_UTENTE?exists>${ID_UTENTE}</#if>);
			
			$.ajax({
				url: "astro?FUNCTIONID=JSONDataSet&dataset=DSUtenti&columns="+usernameTxt+","+nomeTxt+","+cognomeTxt+","+mail+","+profilo+","+idUtenteIns+","+tsIns+","+flDisattivo+","+provincia+","+cap+","+codFisc+","+telefono+","+indirizzo+","+localita+","+scadenza+"&WHERECONDITION="+whereCondition,
				dataType: 'json',
				type: 'GET',
				success: function (data) {
					
					$.each(data.rows,function(i,data) {
						$("#USERNAME").val(eval("data."+usernameTxt));
						$("#NOME").val(eval("data."+nomeTxt));
						$("#COGNOME").val(eval("data."+cognomeTxt));
						$("#EMAIL").val(eval("data."+mail));
						$("#PROFILO").val(eval("data."+profilo));
						$("#SCADENZA_PASSWORD").val(eval("data."+scadenza));
						
						$("#ID_UTENTE_INS").val(eval("data."+idUtenteIns));
						$("#TS_INS").val(eval("data."+tsIns));
						$("#FL_DISATTIVO").val(eval("data."+flDisattivo));
						$("#PROVINCIA").val(eval("data."+provincia));
						$("#CAP").val(eval("data."+cap));
						$("#CODFISC").val(eval("data."+codFisc));
						$("#TELEFONO").val(eval("data."+telefono));
						$("#INDIRIZZO").val(eval("data."+indirizzo));
						$("#LOCALITA").val(eval("data."+localita));
					});
				}
			});
			
			
			$.ajax({
				url: "astro?FUNCTIONID=JSONDataSet&dataset=DSCrediti&columns="+creditiAcquistati+","+creditiUtilizzati+","+dataScadenzaCrediti+"&WHERECONDITION="+whereCondition1,
				dataType: 'json',
				type: 'GET',
				success: function (data) {
					
					$.each(data.rows,function(i,data) {
						$("#CREDITI_ACQUISTATI").val(eval("data."+creditiAcquistati));
						$("#CREDITI_UTILIZZATI").val(eval("data."+creditiUtilizzati));
						$("#DATA_SCADENZA_CREDITI").val(eval("data."+dataScadenzaCrediti));
					});
				}
			});
			
			
			
			
			$("#formInserimentoUtenti").validate();

			$("#formInserimentoUtenti").submit(function(event) {
				/* stop form from submitting normally */
				event.preventDefault();			
				
				if (!$("#formInserimentoUtenti").valid()) {
					return false;
				}

				Swal.fire({
				    title: 'Salvataggio in corso...',
				    text: 'Attendere il completamento dell’elaborazione.',
				    icon: 'info',
				    allowOutsideClick: false,
				    allowEscapeKey: false,
				    showConfirmButton: false,
				    allowOutsideClick: false,   //  disabilita clic fuori dal popup
				    allowEscapeKey: false,  	// disabilita tasto ESC
				    didOpen: () => {
				        Swal.showLoading();
				    },
				    customClass: {
				        popup: 'swal-wide'
				    }
				});
				

				
				
				document.getElementById("salva").style.display="none";
				
				/* Send the data using post */
				$.post( $( this ).attr( 'action' ), $(this).serialize(),function( response ) {
					
					document.getElementById("salva").style.display="block";
					
					if (response==null || response==''){
						Swal.close();
						Swal.fire({
						    title: 'Salvataggio non riuscito!',
						    text: 'Si è verificato un errore, salvataggio non riuscito.',
						    icon: 'error',
						    showConfirmButton: false,   // Nasconde il bottone "OK"
						    timer: 3000,                // Chiude dopo 3 secondi (3000 ms)
						    timerProgressBar: false,     // Mostra barra di avanzamento
						    allowOutsideClick: false,   //  disabilita clic fuori dal popup
						    allowEscapeKey: false,  	// disabilita tasto ESC
						    customClass: {
						        popup: 'swal-wide'      // Applica classe CSS personalizzata per ingrandire
						    }
						});
					}else{
						var result = eval('('+response+')');
						if (result.result) {
							Swal.close();
							Swal.fire({
							    title: 'Salvataggio completato!',
							    text: 'Salvataggio effettuato con successo.',
							    icon: 'success',
							    showConfirmButton: false,   // Nasconde il bottone "OK"
							    timer: 2000,                // Chiude dopo 3 secondi (3000 ms)
							    timerProgressBar: false,     // Mostra barra di avanzamento
							    allowOutsideClick: false,   //  disabilita clic fuori dal popup
							    allowEscapeKey: false,  	// disabilita tasto ESC
							    customClass: {
							        popup: 'swal-wide'      // Applica classe CSS personalizzata per ingrandire
							    }
							});
							
						} 
					}
					
				});

			});
				        
		
		});	        
		
		
    </script> 
    
</head>

<body>

     <div id="wrapper">

    	<#if INCLUDED_MENU?exists><#include INCLUDED_MENU></#if>

        <div id="page-wrapper" class="gray-bg">
		
        	<#if INCLUDED_HEADER?exists><#include INCLUDED_HEADER></#if>
        	
			<div class="row wrapper border-bottom page-heading">
            	
            		<div class="col-lg-12">

	                	<div class="ibox float-e-margins">
	                    <div class="ibox-title">
		            	    <#if INCLUDED_BOX_TITLE?exists><#include INCLUDED_BOX_TITLE></#if>
		            	</div>
			            <div class="ibox-content">
			            
			            
			            		<div class="tabs-container">
			                        <ul class="nav nav-tabs">
			                            <li class="active"><a data-toggle="tab" href="#tab-1">Profilo</a></li>
			                            <li class="" id="li-tab-2"><a data-toggle="tab" href="#tab-2">Crediti</a></li>
			                            <li class=""><a data-toggle="tab" href="#tab-3">Documentazione</a></li>
			                            <li class=""><a data-toggle="tab" href="#tab-4">Assistenza</a></li>
			                            <li class=""><a data-toggle="tab" href="#tab-5">Software release</a></li>
			                        </ul>
			                        <div class="tab-content">
			                            <div id="tab-1" class="tab-pane active">
			                                <div class="panel-body">
			                                
			                                	<form action="astro" class="form-horizontal" method="post" id="formInserimentoUtenti" name="formInserimentoUtenti">
								
													<input type="hidden" id="FUNCTIONID" name="FUNCTIONID" value="InserimentoUtenti">
													<input type="hidden" id="OPERATION_TYPE" name="OPERATION_TYPE" value="UPDATE">
													<input type="hidden" id="ID_UTENTE" name="ID_UTENTE">
													
													<input type="hidden" id="ID_UTENTE_INS" name="ID_UTENTE_INS">
													<input type="hidden" id="TS_INS" name="TS_INS">
													<input type="hidden" id="FL_DISATTIVO" name="FL_DISATTIVO">
													<input type="hidden" id="PROVINCIA" name="PROVINCIA">
													<input type="hidden" id="CAP" name="CAP">
													<input type="hidden" id="CODFISC" name="CODFISC">
													<input type="hidden" id="TELEFONO" name="TELEFONO">
													<input type="hidden" id="INDIRIZZO" name="INDIRIZZO">
													<input type="hidden" id="LOCALITA" name="LOCALITA">
													
				                                    <div class="row">
														<div class="form-group"><label class="col-sm-2 control-label">Username</label>
						                                    <div class="col-sm-4">
																<input type="text"class="form-control" id="USERNAME" name="USERNAME" readonly>
						                                    </div>
						                                </div>
					                                </div>
				                                
				                                
					                                <div class="row"><br/>
														<div class="form-group"><label class="col-sm-2 control-label">Nome</label>
						                                    <div class="col-sm-4">
						                                    	<input type="text"class="form-control" id="NOME" name="NOME">
						                                    </div>
						                                </div>
					                                </div>
					                                
					                                
					                                 <div class="row"><br/>
														<div class="form-group"><label class="col-sm-2 control-label">Cognome</label>
						                                    <div class="col-sm-4">
																<input type="text"class="form-control" id="COGNOME" name="COGNOME">
						                                    </div>
						                                </div>
					                                </div>
					                                
					                                
					                                <div class="row"><br/>
														<div class="form-group"><label class="col-sm-2 control-label">Mail</label>
						                                    <div class="col-sm-4">
																<input type="text"class="form-control" id="EMAIL" name="EMAIL">
						                                    </div>
						                                </div>
					                                </div>
				                                
				                                
					                                <div class="row"><br/>
														<div class="form-group"><label class="col-sm-2 control-label">Profilo</label>
						                                    <div class="col-sm-4">
																<input type="text"class="form-control" id="PROFILO" name="PROFILO" readonly>
						                                    </div>
						                                </div>
					                                </div>
					                                
					                                
					                                <div class="row"><br/>
														<div class="form-group"><label class="col-sm-2 control-label">Scadenza password</label>
						                                    <div class="col-sm-4">
																<input type="text"class="form-control" id="SCADENZA_PASSWORD" name="SCADENZA_PASSWORD" readonly>
						                                    </div>
						                                </div>
					                                </div>
					                                
					                                <div class="hr-line-dashed"></div>
								
					                                <div class="form-group">
					                                    <div class="col-sm-1">
					                                        <button class="btn btn-primary btn-sm" id="salva" type="submit">${label_save}</button>
					                                    </div>
					                                </div>
					                            </form>   
			                                </div>
			                            </div>
			                            
			                            <div id="tab-2" class="tab-pane">
			                                <div class="panel-body">
			                                    <div class="row">
													<div class="form-group"><label class="col-sm-2 control-label">Crediti utilizzati</label>
					                                    <div class="col-sm-4">
															<input type="text"class="form-control" id="CREDITI_UTILIZZATI" name="CREDITI_UTILIZZATI" readonly disabled>
					                                    </div>
					                                </div>
				                                </div>
				                                
				                                
				                                <div class="row"><br/>
													<div class="form-group"><label class="col-sm-2 control-label">Crediti acquistati</label>
					                                    <div class="col-sm-4">
															<input type="text"class="form-control" id="CREDITI_ACQUISTATI" name="CREDITI_ACQUISTATI" readonly disabled>
					                                    </div>
					                                </div>
				                                </div>	
				                                
				                                <div class="row"><br/>
													<div class="form-group"><label class="col-sm-2 control-label">Data scadenza crediti</label>
					                                    <div class="col-sm-4">
															<input type="text"class="form-control" id="DATA_SCADENZA_CREDITI" name="DATA_SCADENZA_CREDITI" readonly disabled>
					                                    </div>
					                                </div>
				                                </div>				
			                                </div>
			                            </div>
			                            
			                             <div id="tab-3" class="tab-pane">
			                                <div class="panel-body">
			                                    	
			                                    <div class="row">
													<div class="form-group"><label class="col-sm-2 control-label">Manuale   <a href="#"><i class="fa fa-book fa-2x"></i></a></label>
					                                </div>
				                                </div>
			                                  
			                                </div>
			                            </div>
			                            
			                             <div id="tab-4" class="tab-pane">
			                                <div class="panel-body">
			                                	 <div class="row">
													<div class="form-group"><label class="col-sm-4 control-label">Per assistenza inviare una mail a: <a href="mailto:support@wera.club">support@wera.club</a></label>
					                                </div>
				                                </div>
			                                </div>
			                            </div>
			                            
			                             <div id="tab-5" class="tab-pane">
			                                <div class="panel-body">
			                                	 <div class="row">
													<div class="form-group"><label class="col-sm-2 control-label">Release 3.0 del 30/06/2024</label>
					                                </div>
				                                </div>
			                                </div>
			                            </div>
			                        </div>
			
			
			                    </div>
			            		
			            	


		                          
		                       
	                       			
		                </div>   <!-- chiude box content -->
            		</div>       <!-- chiude ibox float-e-margins -->     
	            </div>	<!-- col-lg-12 -->
            </div>	<!-- chiude row -->
            
            
        
        
        
        	<#if INCLUDED_FOOTER?exists><#include INCLUDED_FOOTER></#if>
        	
        </div>
	</div>


</body>

</html>
