<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<#if INCLUDED_HEAD?exists><#include INCLUDED_HEAD></#if> 
	
    <script type="text/javascript">
    	var profilo="<#if PROFILO?exists>${PROFILO}</#if>";
		var flagRicerca=false;
		var dtAjax="astro?FUNCTIONID=AJAXArray&dataset=DSRipartizioni&columns=ID_RIPARTIZIONE,ID_RIPARTIZIONE,DENOMINAZIONE,INDIRIZZO,LOCALITA,PROVINCIA,PERIODO,TIPOLOGIA&JOLLY_CHAR=*&WHERECONDITION=";
		var dtWhereCondition="<#if WHERECONDITION?exists>${WHERECONDITION}</#if>";


		
		$(function(){

			// Setup - add a text input to each footer cell
		    $('#dt thead tr').clone(true).appendTo( '#dt thead' );
		    $('#dt thead tr:eq(1) th').each( function (i) {
		        var title = $(this).text();
		        if (title!=''){
		        	$(this).html( '<input type="text" placeholder="Filtra '+title+'" />' );
		        }
		        
		 
		        $( 'input', this ).on( 'keyup change', function () {
		            if ( table.column(i).search() !== this.value ) {
		                table
		                    .column(i)
		                    .search( this.value )
		                    .draw();
		            }
		        } );
		    } );

			
			$("#ID_UTENTE").val(<#if ID_UTENTE?exists>${ID_UTENTE}</#if>);
			
	        var table = $('#dt').DataTable({
	        	orderCellsTop: true,
	        	fixedHeader: true,
				ajax: dtAjax+dtWhereCondition,
				columnDefs: [
					{
						width:"1%",
						targets:0,
						orderable: false,
						data:null,
						render: function ( data, type, row, meta ) {
							if(type === 'display' ) {
								data = '<a href="#" class="editRow" title="${label_edit}"><i class="fa fa-pencil fa-color-auto" aria-hidden="true"></i></a>';
							}

							return data;
						}
					},
					{
						width:"1%",
						targets:1,
						visible: <#if PROFILO?contains('ADM')>true<#else>false</#if>,
						orderable: false,
						data:null,
						render: function ( data, type, row, meta ) {
							if(type === 'display' ) {
								data = '<a href="#" class="deleteRow" title="${label_delete}"><i class="fa fa-trash-o fa-color-auto" aria-hidden="true"></i></a>';
							}

							return data;
						}
					}
					
				],
				
                dom: '<"html5buttons"B>lTfgitp',
                language: {
			        url: 'locales/${CURRENT_SELECTED_ISO_LANGUAGE}.json'
			    },
    
                buttons: [
                    {extend: 'csv', title: $(document).find("title").text()},
                    {extend: 'excel', title: $(document).find("title").text()},
                    {extend: 'pdf', title: $(document).find("title").text(), orientation: 'landscape'}
                ],
                "drawCallback": function( settings ) {
                	$(".dataTables_filter").hide();    
                	$(".html5buttons").hide();   
    	    		
                	var dataCount=$('#dt').DataTable().column( 0 ).data().length;
    	    		if(dataCount==0 && flagRicerca) {
    					$('.modal-title').html('Attenzione!');
    					$('.modal-text').html('Nessun risultato ottenuto: controllare i filtri impostati per la ricerca...');
    					$("#modalAlert").modal({backdrop: true});
    					$('#modalAlert').collapse("show");	    			
    	    		}
    	    		
                },
				aaSorting: []

            });
		
	        $('#free-text-search').keyup(function(){
	        	$('#dt').DataTable().search($(this).val()).draw() ;
	        })	        
	        
			
			$("#formDelete").submit(function(event) {
				
				/* stop form from submitting normally */
				event.preventDefault();

				/* Send the data using post */
				$.post( $( this ).attr( 'action' ), $(this).serialize(),function( response ) { 
					var result = eval('('+response+')');
					$( "#dt" ).DataTable().ajax.reload();
					$( ".alert-success" ).text( result.message ).fadeIn("slow").delay(1500).fadeOut("slow");
				});
			});					
			
			
	        $('#dt tbody').on( 'click', '.viewRow', function () {
	        	var table = $('#dt').DataTable();
	            var data = table.row( $(this).parents('tr') ).data();
				$('#ID_RIPARTIZIONE').val(data[0]);
				$('#FUNCTIONID_EDIT').val("InserimentoRipartizioni");
				$('#READONLY').val("Y");
				$("#formEdit").submit();
	        } );
	        
	        $('#dt tbody').on( 'click', '.editRow', function () {
	        	var table = $('#dt').DataTable();
	            var data = table.row( $(this).parents('tr') ).data();
				$('#ID_RIPARTIZIONE').val(data[0]);
				$('#FUNCTIONID_EDIT').val("InserimentoRipartizioni");
				$('#READONLY').val("N");
				$("#formEdit").submit();
	        } );
	        
	        
	        $('#dt tbody').on( 'click', '.deleteRow', function () {
	        	var table = $('#dt').DataTable();
	            var data = table.row( $(this).parents('tr') ).data();
				$('#keyField').val("ID_RIPARTIZIONE");
				$('#keyValue').val(data[0]);
				$('#FUNCTIONID_DELETE').val("InserimentoRipartizioni");
				$('.modal-title').html('${label_delete_title_message}');
				$('.modal-text').html('${label_delete_text_message}');
				$("#modalQuestionDialog").modal({backdrop: true});
				$('#modalQuestionDialog').collapse("show");
	        } );	
	        
	        $('#dt tbody').on( 'click', '.pdfA4Row', function () {
	        	var table = $('#dt').DataTable();
	            var data = table.row( $(this).parents('tr') ).data();
				$('#ID_RIPARTIZIONE_STAMPA').val(data[0]);
				$('#formStampa').submit();
	    	});
		
	        
	        
			$( "#report" ).click(function() {
	    		var dataCount=$('#dt').DataTable().column( 0 ).data().length;
	    		if(dataCount>200) {
					$('.modal-title').html('Attenzione!');
					$('.modal-text').html('Il report che si desidera stampare supera le 200 righe. Si consiglia di restringere la ricerca');
					$("#modalAlert").modal({backdrop: true});
					$('#modalAlert').collapse("show");	    			
	    		} else {
		    		$('#dt').DataTable().button( 2 ).trigger();
	    		}
	    		
	    	});
	    	
	    	$( "#excel" ).click(function() {
	    		$('#dt').DataTable().button( 1 ).trigger();
	    	});
	    	
	    	$( "#csv" ).click(function() {
	    		$('#dt').DataTable().button( 0 ).trigger();
	    	});				
				        
		
		});	        
		
    </script> 

</head>

<body>

	<form action="astro" method="post" id="formStampa" name="formStampa">
		<input type="hidden" id="FUNCTIONID" name="FUNCTIONID" value="StampaRipartizioni">	
		<input type="hidden" id="ID_RPARTIZIONE_STAMPA" name="ID_RIPARTIZIONE">
	</form>


	<form action="astro" method="post" id="formDelete" name="formDelete">
		<input type="hidden" id="FUNCTIONID_DELETE" name="FUNCTIONID">
		<input type="hidden" name="OPERATION_TYPE" value="DELETE">
		<input type="hidden" id="keyField" name="keyField">
		<input type="hidden" id="keyValue" name="keyValue">
	</form>
	
	
	<form action="astro" method="get" id="formEdit" name="formEdit">
		<input type="hidden" id="FUNCTIONID_EDIT" name="FUNCTIONID">
		<input type="hidden" name="OPERATION_TYPE" value="UPDATE">
		<input type="hidden" id="READONLY" name="READONLY" value="N">
		<input type="hidden" id="ID_RIPARTIZIONE" name="ID_RIPARTIZIONE">
	</form>		
	
	<div class="modal inmodal fade" id="modalQuestionDialog" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header"><span class="modal-title"></span></div>
				<div class="modal-body"><span class="modal-text"></span></div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-white btn-sm" onclick="$('#modalQuestionDialog').collapse('hide');">${label_no}</button>
					<button class="btn btn-primary btn-sm" onclick="$('#modalQuestionDialog').collapse('toggle');$('#formDelete').submit();" data-dismiss="modal" type="submit">${label_si}</button>
				</div>
			</div>
		</div>
	</div>	
	
	<div id="wrapper">

		<#if INCLUDED_MENU?exists><#include INCLUDED_MENU></#if>

		<div id="page-wrapper" class="gray-bg">
		
			<#if INCLUDED_HEADER?exists><#include INCLUDED_HEADER></#if>
           
			<div class="row border-bottom">
	        	<div class="ibox-title titolo">
	           	    <#if INCLUDED_BOX_TITLE?exists><#include INCLUDED_BOX_TITLE></#if>
	           	</div>
		    </div>
        	
			<div class="row wrapper border-bottom page-heading">
                <div class="col-sm-12">
				
                    <div class="ibox float-e-margins">
					
						<!-- bread crumb-->	
						<#if INCLUDED_BOX_CREDITI?exists><#include INCLUDED_BOX_CREDITI></#if>

						<!-- contenuto form-->
                        <div class="ibox-content">
                                   
							<div class="row">
								<div class="col-sm-12">							
							
									<form action="astro" method="get" id="formSearch" name="formSearch" class="form-horizontal">
										<input type="hidden" id="FUNCTIONID" name="FUNCTIONID" value="RicercaScaricoStorico">
										<input type="hidden" id="ID_UTENTE" name="ID_UTENTE">
										
		                                <!-- <div class="form-group">
		                                	<label class="col-sm-2 control-label-left">Descrizione</label>
		                                    <div class="col-sm-10"><input type="text" class="form-control" id="TITOLO" name="TITOLO"></div>
		                                </div> -->
		                                
										<div class="form-group">
										
		                                	<label class="col-sm-2 control-label-left">Ricerca in linea:</label>
		                                    <div class="col-sm-10">
				                                <input type="text" id="free-text-search" name="free-text-search"  class="form-control" placeholder="digita il testo che vuoi cercare per aggiornare subito i risultati">
											</div>
											
										</div>												
		                                
										<div class="form-group">
										
											<div class="col-sm-3">
												<button class="btn btn-primary btn-sm" id="ricerca" type="submit" name="ricerca">${label_search}</button>
												<button class="btn btn-primary btn-sm" type="button" id="report" name="report">PDF</button>
												<button class="btn btn-primary btn-sm" type="button" id="excel" name="excel">XLS</button>
												<button class="btn btn-primary btn-sm" type="button" id="csv" name="csv">CSV</button>
											</div>
											
											<div class="col-sm-9">
												<fieldset>
													${label_legenda}:
													<i class="fa fa-pencil" aria-hidden="true"></i>${label_edit}
													<i class="fa fa-trash-o" aria-hidden="true"></i>${label_delete}
													<i class="fa fa-file-pdf-o" aria-hidden="true"></i>PDF
												</fieldset>
											</div>
										</div>			
										

										
									
									</form>
									
									<div class="hr-line-dashed"></div>
						
									
			
			                        <div class="table-responsive">
										<table id="dt" class="table table-striped table-bordered table-hover" >
											<thead>
												<tr>
													<th></th>
	            	    	    					<th></th>
							                        <th>Denominazione</th>
									                <th>Indirizzo</th>
									                <th>Località</th>
									                <th>Provincia</th>
									                <th>Periodo</th>
									                <th>Tipologia</th>
												</tr>
											</thead>
										
										</table>
			                        </div>

                    			</div>
					
                			</div>
						</div>
            		</div>
				</div>
			</div>
						
			<#if INCLUDED_FOOTER?exists><#include INCLUDED_FOOTER></#if>
		
		</div>

	</div>
	

</body>

</html>
